body {
  background-color: rgb(190, 216, 207);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2rem 4rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;  
}

.box_left {
  max-width: 35rem;
  display: flex;
  align-items: center;
}
.profil img {
  width: 10rem;
  border-radius: 50%;
}

.profil {
  margin-right: 3rem;
}

.sotial {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(98, 129, 98);
   border-radius: 5px; 
   background-color: white;
}

.sotial:hover {
  background-color: rgb(166, 229, 220);
  transition: all 0.3s;
}

.sotial img {
  width: 6rem;
}

.box_right {
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: rgb(24, 135, 105);
  border-radius: 7px;
  }

  .box_right:hover {
    background-color: rgb(8, 101, 50);
  }
